body {
  font-family            : "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 20%;
}
